.pageWrap {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: calc(100vw - 100px);
    height: calc(100vh - 100px);

    margin: 50px;
    position: relative;

    .introWrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .healthMateTitleText {
        margin-top: 32px;
        font-family: Pretendard;
        font-size: 15px;
        font-weight: 600;
        color: #05697F;
    }

    .healthMateTitleImg {
        margin-top: 7px;
    }



    .kakaoWrap {
        background-color: #05697F;

        .kakaoBtn {
            background-color: antiquewhite;
            width: 313px;
        }
    }

    .test {
        color: aqua;
    }
}








.kakaoLoginBtn>span {
    font-family: Noto Sans KR;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
}