.acheivementContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 35px 21px;
}

.title {
  font-family: Pretendard;
  font-size: 25px;
  font-weight: 700;
}

.subtitle1 {
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 500;
  color: #8f8f8f;
}
