.selectorContainer {
  display: flex;
  width: 100%;
  height: 128px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f5fa;
}

.dateSelector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.selector {
  width: 38px;
  height: 14px;
  padding: 0px 35px;
}

.month {
  align-items: center;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 700;
}

.periodSelector {
  display: flex;
  flex-direction: row;
  width: 93%;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #dedede;
  background-color: #ffffff;
}

.linkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 50%;
  border-radius: 10px;
  font-family: "Pretendard";
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #8f8f8f;
  &.selected {
    color: #0e9494;
    border: 1px solid #0e9494;
  }
}
