.chart {
  position: relative;
  // width: 333px;

  height: 280px;
  padding: 0px 21px;
  margin: 21px 21px 0px 21px;

  background: #ffffff;

  box-shadow: -2px 0px 20px 0px #00000026;
  border-radius: 15px;

  .chartTop {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 6px;

    .chartText {
      margin-top: 26px;
      margin-left: -5px;
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      /* identical to box height, or 30px */

      /* black-200 */
      color: #1e1e1e;
    }

    .changeChartBtn {
      margin-top: 30px;
      height: 18px;
      width: 18px;
    }
  }

  .chartBottom {
    position: absolute;
    bottom: 18px;
    display: flex;
    margin-left: 11px;
    gap: 21px;

    .legend {
      display: flex;

      .legendColor {
        width: 8px;
        height: 8px;
        margin-top: 1px;
        margin-right: 5px;
        background: #67cfbc;
      }

      .legendText {
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 10px;
        /* identical to box height, or 91% */

        /* 그레이6 */
        color: #8f8f8f;
      }
    }
  }
}

.problemOccured {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 600;
  color: #aaaaaa;
  text-align: center;
  text-wrap: wrap;
}
