.TodaysChallenge {
  position: absolute;
  top: 161px;
  width: 100%;
  height: 580px;
  background-color: white;

  border-radius: 20px 20px 0px 0px;

  .HomeHeader {
    // position: absolute;
    // top: 201px;

    padding-left: 21px;
    padding-top: 35px;
    margin: 0;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 28;
    line-height: 33px;

    color: #000000;
  }

  .HomeText {
    margin: 0;
    padding-left: 21px;
    padding-top: 10px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #8f8f8f;
  }

  .HomeMain {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 37px;

    .ChallengeCharWrap {
      width: 120px;
      height: 120px;

      .ChallengeChart {
        width: 120px;
        padding-bottom: calc(100% - 0px);
        border-radius: 50%;
        text-align: center;

        // background: conic-gradient(#7ADCC5 0%, #0E9494 40%, #05697F 80%, #D9D9D9 80% 100%);
        position: relative;
      }

      .ChartCenter {
        position: absolute;

        margin-top: 16px;
        margin-left: 16px;
        background: white;
        border-radius: 50%;

        width: 88px;
        height: 88px;

        .PercentText {
          text-align: center;
          width: 100%;
          height: 100%;
          margin: 0;
          line-height: 88px;
        }

        .PercentText::before {
          content: attr(data-percent);
          text-align: center;

          font-family: "Pretendard";
          font-style: normal;
          font-weight: 700;
          font-size: 40.0722px;

          // color: #0E9494;
        }

        .PercentText::after {
          content: "%";

          font-family: "Pretendard";
          font-style: normal;
          font-weight: 800;
          font-size: 20.3482px;

          //color: #0E9494;
        }
      }
    }

    .ChallengeState {
      width: 84%;
      height: 37px;
      //background: rgba(122, 220, 197, 0.25);

      border-radius: 100px;

      display: flex;
      align-items: center;
      margin-top: 32px;

      .ChallengeStateText {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 23px;

        font-family: "Pretendard";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        //color: #0B7575;
      }
    }

    .CoinNoticeText {
      font-family: "Pretendard";
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 23px;
      color: #f97f59;
      margin: 0;
      margin-top: 7px;
    }

    .StatisticsButton {
      width: 88%;
      height: 53px;
      background: #05697f;
      border-radius: 15px;
      margin-top: 67px;
      margin-bottom: 50px;
      border: 0;
      padding: 0;

      .StatisticsButtonText {
        /* 전체 챌린지 통계 보기 */

        margin: 0;
        font-family: "Pretendard";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #ffffff;
      }
    }
  }
}

.StatisticsButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PillChallenge {
  position: absolute;
  top: 767px;
  width: 100%;
  height: 517px;
  background-color: #f4f5fa;

  .PillChallengeTitle {
    display: flex;
    padding-left: 21px;
    padding-top: 30px;

    .PillImg {
      width: 28px;
      height: auto;
    }

    .PillText {
      padding-left: 6px;
      margin-right: auto;

      font-family: "Pretendard";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #000000;
    }

    .PillEdit {
      padding-right: 25px;
      margin: 0;

      font-family: "Pretendard";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;

      margin: auto;
      margin-right: 0;

      color: #0e9494;

      .clampR {
        padding-left: 6px;
        width: 4px;
      }
    }
  }
}

.HabitChallenge {
  position: absolute;
  top: 1309px;
  width: 100%;
  height: 517px;
  background-color: #f4f5fa;

  .HabitChallengeTitle {
    display: flex;
    padding-left: 21px;
    padding-top: 30px;

    .HabitImg {
      width: 28px;
      height: auto;
    }

    .HabitText {
      padding-left: 6px;
      margin-right: auto;

      font-family: "Pretendard";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #000000;
    }

    .HabitEdit {
      padding-right: 25px;
      margin: 0;

      font-family: "Pretendard";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;

      margin: auto;
      margin-right: 0;

      color: #0e9494;

      .clampR {
        padding-left: 6px;
        width: 4px;
      }
    }
  }

  .HabitInfo {
    display: flex;
    justify-content: space-between;

    width: 88%;
    height: 68px;
    margin-left: 6%;
    margin-bottom: 10px;
    background: #ffffff;
    border: 1px solid #ebebeb;
    box-shadow: -2px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    .HabitName {
      height: 68px;
      margin: 0;
      padding-top: 22.5px;
      margin-left: 25px;

      font-family: "Pretendard";
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;

      color: #000000;
    }

    .HabitCheckmark {
      height: 34px;
      margin-top: 17px;
      margin-right: 24px;
    }
  }
}

.gap {
  height: 25px;
}

.dailyCheckButton {
  position: fixed;
  bottom: 89.65px;
  margin-bottom: 29px;

  height: 44.3px;
  width: 48%;
  margin-left: 26%;

  background: #f97f59;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 19.9648px;
  border: 0;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}