.progressBarWrap {
    display: flex;
    align-items: center;
    justify-content: center;

    .progressBar {
        width: 85%;
        height: 16px;
        background-color: #EEEEEE;
        // border: 8px solid #EEEEEE;
        border-radius: 100px;

        .progress {
            width: 0%;
            height: 16px;
            background-image: linear-gradient(to right, #7ADCC5, #0E9494);
            border-radius: 100px;

        }
    }
}