.diseasePredictionContainer {
  padding-bottom: 200px;
}

.titleContainer {
  padding: 40px 21px;
}

.title {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 800;
  color: #f97f59;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.subtitle {
  font-family: "Pretendard";
  font-size: 15px;
  font-weight: 400;
  color: #8f8f8f;
}

.subtitleHighlight {
  margin-left: 5px;
  font-family: "Pretendard";
  font-size: 15px;
  font-weight: 700;
  color: #f97f59;
}
