.barContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 20px 27px 16px 27px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #dedede;
}

.barIcon {
  width: 28px;
  height: 29px;
}

.barItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 68px;
}

.barItemName {
  display: flex;
  align-items: center;
  color: #b7b7b7;
  margin: 4px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
}
