.healthChart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f5fa;
  padding-bottom: 180px;
}

.selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.periodSelector {
  display: flex;
  flex-direction: row;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  margin: 0px 21px;
}

.linkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 50%;
  border-radius: 8px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #8f8f8f;
  &.selected {
    color: #0e9494;
    border: 1px solid #0e9494;
  }
}

.dateSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.arrow {
  margin-top: 3px;
  width: 38px;
  height: 14px;
  padding: 0px 0px;
}

.date {
  display: flex;
  align-items: center;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 700;
}

.dailyCheckButton {
  position: fixed;
  bottom: 89.65px;
  margin-bottom: 29px;
  height: 44.3px;
  width: 48%;
  margin-left: 26%;
  background: #f97f59;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 19.9648px;
  border: 0;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
  z-index: 99;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 28px;
  height: 80px;
  color: #aaaaaa;
  text-wrap: wrap;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 600;
}
